.main-container {
    display: flex;
    position: relative;
  }
  
  .info-container {
    display: flex;
    position: fixed;
    top: 30px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  

  .info {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
  }
  